html{
    touch-action: manipulation;
}
#field {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 375px;
    border-collapse: collapse;
    table-layout: fixed;
    font-size: x-small;
    color: white;
}

.point {
    border: solid;
    border-color: black;
}

#dobutton {
    position: fixed;
    top: 390px;
    left: 100px;
}

#score {
    position: fixed;
    top: 420px;
}
#up {
    position: fixed;
    top: 420px;
    right: 50px;
}
#right {
    position: fixed;
    top: 450px;
    right: 10px;
}
#down {
    position: fixed;
    top: 480px;
    right: 40px;
}
#left {
    position: fixed;
    top: 450px;
    right: 80px;
}
